.search-box {
    margin-bottom: 15px;
}

.search-box .form-group {
    margin-bottom: 5px;
}

.content-page {
    padding-bottom: 50px;
}

.media-list .media, .record-count {
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}

.action-box {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #cccccc;
}

.media-list .media:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.pagination {
    margin-bottom: 5px;
}

.record-count {
    padding-bottom: 10px;
}

.edit-box {
    margin-top: 5px;
    margin-bottom: 0;
}

.navbar-brand img {
    margin-top: -7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    opacity: 0.8;
}